<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('../partials/statusmessage.ejs') %>

<div id="recipes" class="container-fluid col-md-12 text-center">
  <% if (!recipes.error) { %>
    <% for (let recipe of recipes) { %>
      <a href="/<%= recipe.id %>" id="<%= recipe.id %>" class="recipe col-md-4">
        <figure>
          <img src="<%= recipe.recipePicture || 'http://via.placeholder.com/200x200' %>"/>
          <figcaption>
            <div class="name"><%= recipe.name %></div>
            <div class="description"><%= recipe.description || '&nbsp;' %></div>
          </figcaption>
        </figure>
      </a>
    <% } %>
  <% } else { %>
    <div class="alert alert-danger" role="alert">
      <p>
        Error: <strong><%=: recipes.error | downcase %></strong>
      </p>
      <p>
        <code><%-: JSON.stringify(recipes, null, 2) | replace:/,/g,',<br />' %></code>
      </p>
    </div>
  <% } %>
</div>
